<div class="flex flex-row">
  <!-- main content -->
  <div class="flex-1 max-w-full lg:max-w-[calc(100%-26rem)] px-4 lg:pr-0 py-4">
    <div class="card p-10 xl:px-24 md:py-32 mb-4">
      <span class="font-bold text-[2.25rem] sm:text-[3rem] md:text-[4.5rem] lg:text-[6rem]">Navigation Rail</span>
      <p class="text-[1rem] md:text-[1.25rem] lg:text-[1.5rem]">It also provides quick access to other pages/navigation points as navbar, but on vertical layout.</p>
    </div>
    
    <div class="flex flex-col gap-4 md:gap-2">
      <app-tabs
        [id]="'rail'"
        [putCard]="'no'"
        [variantName]="'Navigation Rail'"
        [preview]="rail"
        [htmlCode]="snippets['rail'].htmlCode"
        [jsxCode]="snippets['rail'].jsxCode" >
      </app-tabs>
      <app-tabs
        [id]="'railWithToggle'"
        [putCard]="'no'"
        [variantName]="'Navigation Rail with open toggle'"
        [preview]="railWithOpenToggle"
        [htmlCode]="snippets['rail with open toggle'].htmlCode"
        [jsxCode]="snippets['rail with open toggle'].jsxCode" >
      </app-tabs>
    </div>
  </div>

  <!-- side content -->
  <ul class="hidden lg:block basis-[26rem] h-[calc(100vh-4.25rem)] sticky top-[calc(4.25rem)] menu overflow-y-auto">
    <li (click)="stService.scroll('rail')"><a class="normal-case"># Navigation Rail</a></li>
    <li (click)="stService.scroll('railWithToggle')"><a class="normal-case"># Navigation Rail with open toggle</a></li>
  </ul>
</div>

<ng-template #rail>
  <div class="card p-4">
    <div class="rail h-[24rem]">
      <div class="rail-middle">
        <ul class="menu">
          <li>
            <a class="menu-active">
              <span class="material-icons-round">hexagon</span>
            </a>
          </li>
          <li>
            <a>
              <span class="material-icons-round">hexagon</span>
            </a>
          </li>
          <li>
            <a>
              <span class="material-icons-round">hexagon</span>
            </a>
          </li>
          <li>
            <a>
              <span class="material-icons-round">hexagon</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #railWithOpenToggle>
  <div class="card p-4 overflow-x-auto">
    <input type="checkbox" id="sampleRail2" class="rail-toggle">
    <div class="rail h-[24rem]">
      <!-- rail top -->
      <div class="rail-top">
        <ul class="menu">
          <li>
            <label for="sampleRail2">
              <span class="material-icons-round">menu</span>
              menu
            </label>
          </li>
        </ul>
      </div>

      <!-- rail middle -->
      <div class="rail-middle">
        <ul class="menu">
          <li>
            <a class="menu-active">
              <span class="material-icons-round">hexagon</span>
              label
            </a>
          </li>
          <li>
            <a>
              <span class="material-icons-round">hexagon</span>
              label
            </a>
          </li>
          <li>
            <a>
              <span class="material-icons-round">hexagon</span>
              label
            </a>
          </li>
        </ul>
      </div>

      <!-- rail bottom -->
      <div class="rail-bottom">
        <ul class="menu menu-rail">
          <li>
            <a>
              <span class="material-icons-round">logout</span>
              logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>