<div class="flex flex-row">
  <!-- main content -->
  <div class="flex-1 max-w-full lg:max-w-[calc(100%-26rem)] px-4 lg:pr-0 py-4">
    <div class="card p-10 xl:px-24 md:py-32 mb-4">
      <span class="font-bold text-[3rem] md:text-[4.5rem] lg:text-[6rem]">Progress Bar</span>
      <p class="text-[1rem] md:text-[1.25rem] lg:text-[1.5rem]">Displays a visual representation of a progress</p>
    </div>
    
    <div class="flex flex-col gap-2">
      <app-tabs
        [id]="'progress'"
        [putCard]="'yes'"
        [variantName]="'Progress Bar'"
        [preview]="progressBar"
        [htmlCode]="snippets['progress bar'].htmlCode"
        [jsxCode]="snippets['progress bar'].jsxCode" >
      </app-tabs>
      <app-tabs
        [id]="'progressWithColors'"
        [putCard]="'yes'"
        [variantName]="'Progress Bar in different colors'"
        [preview]="progressBarWithColors"
        [htmlCode]="snippets['progress bar in different colors'].htmlCode"
        [jsxCode]="snippets['progress bar in different colors'].jsxCode" >
      </app-tabs>
      <app-tabs
        [id]="'progressSizes'"
        [putCard]="'yes'"
        [variantName]="'Progress Bar in different sizes'"
        [preview]="progressBarSizes"
        [htmlCode]="snippets['progress bar in different sizes'].htmlCode"
        [jsxCode]="snippets['progress bar in different sizes'].jsxCode" >
      </app-tabs>
    </div>
  </div>

  <!-- side content -->
  <ul class="hidden lg:block basis-[26rem] h-[calc(100vh-4.25rem)] sticky top-[calc(4.25rem)] menu overflow-y-auto">
    <li (click)="stService.scroll('progress')"><a class="normal-case"># Progress Bar</a></li>
    <li (click)="stService.scroll('progressWithColors')"><a class="normal-case"># Progress Bar in different colors</a></li>
    <li (click)="stService.scroll('progressSizes')"><a class="normal-case"># Progress Bar in different sizes</a></li>
  </ul>
</div>

<ng-template #progressBar>
  <span class="progress" style="--value: 5; --max: 10;"></span>
</ng-template>

<ng-template #progressBarWithColors>
  <div class="flex flex-col gap-4 items-center">
    <!-- default -->
    <span class="progress" style="--value: 5; --max: 10;"></span>
  
    <!-- primary -->
    <span class="progress progress-primary" style="--value: 5; --max: 10;"></span>
  
    <!-- secondary -->
    <span class="progress progress-secondary" style="--value: 5; --max: 10;"></span>
  
    <!-- tertiary -->
    <span class="progress progress-tertiary" style="--value: 5; --max: 10;"></span>
  
    <!-- info -->
    <span class="progress progress-info" style="--value: 5; --max: 10;"></span>
  
    <!-- warning -->
    <span class="progress progress-warning" style="--value: 5; --max: 10;"></span>
  
    <!-- success -->
    <span class="progress progress-success" style="--value: 5; --max: 10;"></span>
  
    <!-- error -->
    <span class="progress progress-error" style="--value: 5; --max: 10;"></span>
  </div>
</ng-template>

<ng-template #progressBarSizes>
  <div class="flex flex-col gap-4">
    <!-- small -->
    <span class="progress progress-sm" style="--value: 5; --max: 10;"></span>
  
    <!-- default -->
    <span class="progress progress-md" style="--value: 5; --max: 10;"></span>
  
    <!-- large -->
    <span class="progress progress-lg" style="--value: 5; --max: 10;"></span>
  
    <!-- xl -->
    <span class="progress progress-xl" style="--value: 5; --max: 10;"></span>
  </div>
</ng-template>