<div class="card px-24 py-32 mb-4">
  <h1 class="font-bold">Navigation Drawer</h1>
  <h4>Used to access different pages that slides from the side</h4>
</div>

<div class="flex flex-col gap-2">
  <app-tabs
    [putCard]="'yes'"
    [variantName]="'Drawer'"
    [preview]="drawer"
    [htmlCode]="snippets['drawer'].htmlCode"
    [jsxCode]="snippets['drawer'].jsxCode" >
  </app-tabs>
  <app-tabs
    [putCard]="'no'"
    [variantName]="'Opened Drawer'"
    [preview]="drawerOpen"
    [htmlCode]="snippets['opened drawer'].htmlCode"
    [jsxCode]="snippets['opened drawer'].jsxCode" >
  </app-tabs>
</div>

<ng-template #drawer>
  <div class="drawer h-fit">
    <input class="drawer-toggle" type="checkbox" id="sampleDrawer"/>
    <div class="drawer-page-content">
      <!-- page content here -->
      <label for="sampleDrawer" class="btn">Drawer</label>
    </div>

    <div class="drawer-sidebar">
      <div class="drawer-sidebar-content">
        <!-- sidebar content here -->
        <ul class="menu">
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a></li>
          <li><a href="#">Item 3</a></li>
        </ul>
      </div>

      <label class="drawer-overlay" for="sampleDrawer"></label>
    </div>
  </div>
</ng-template>



<ng-template #drawerOpen>
  <div class="w-[23rem] h-[20rem] bg-tertiary-90">
    <ul class="menu">
      <li><a>Item 1</a></li>
      <li><a>Item 2</a></li>
      <li><a>Item 3</a></li>
    </ul>
  </div>
</ng-template>