<div class="flex flex-row">
  <!-- main content -->
  <div class="flex-1 max-w-full lg:max-w-[calc(100%-26rem)] px-4 lg:pr-0 py-4">
    <div class="card p-10 md:px-24 md:py-32 mb-4">
      <span class="font-bold text-[3rem] md:text-[4.5rem] lg:text-[6rem]">Switch</span>
      <p class="text-[1rem] md:text-[1.25rem] lg:text-[1.5rem]">A toggle used for on and off purposes</p>
    </div>
    
    <div class="flex flex-col gap-4 md:gap-2">
      <app-tabs
        [id]="'switch'"
        [putCard]="'yes'"
        [variantName]="'Switch'"
        [preview]="switch"
        [htmlCode]="snippets['switch'].htmlCode"
        [jsxCode]="snippets['switch'].jsxCode" >
      </app-tabs>
      <app-tabs
        [id]="'switchWithColors'"
        [putCard]="'yes'"
        [variantName]="'Switch with colors'"
        [preview]="switchWithColors"
        [htmlCode]="snippets['switch with colors'].htmlCode"
        [jsxCode]="snippets['switch with colors'].jsxCode" >
      </app-tabs>
      <app-tabs
        [id]="'switchSizes'"
        [putCard]="'yes'"
        [variantName]="'Switch in different sizes'"
        [preview]="switchSizes"
        [htmlCode]="snippets['switch in different sizes'].htmlCode"
        [jsxCode]="snippets['switch in different sizes'].jsxCode" >
      </app-tabs>
      <app-tabs
        [id]="'disabledSwitch'"
        [putCard]="'yes'"
        [variantName]="'Disabled Switch'"
        [preview]="disabledSwitch"
        [htmlCode]="snippets['disabled switch'].htmlCode"
        [jsxCode]="snippets['disabled switch'].jsxCode" >
      </app-tabs>
      <app-tabs
        [id]="'indeterminateSwitch'"
        [putCard]="'yes'"
        [variantName]="'Indeterminate Switch'"
        [preview]="IndeterminateSwitch"
        [htmlCode]="snippets['indeterminate switch'].htmlCode"
        [jsxCode]="snippets['indeterminate switch'].jsxCode" >
      </app-tabs>
    </div>
  </div>

  <!-- side content -->
  <ul class="hidden lg:block basis-[26rem] h-[calc(100vh-4.25rem)] sticky top-[calc(4.25rem)] menu overflow-y-auto">
    <li (click)="stService.scroll('switch')"><a class="normal-case"># Switch</a></li>
    <li (click)="stService.scroll('switchWithColors')"><a class="normal-case"># Switch with colors</a></li>
    <li (click)="stService.scroll('switchSizes')"><a class="normal-case"># Switch in different sizes</a></li>
    <li (click)="stService.scroll('disabledSwitch')"><a class="normal-case"># Disabled Switch</a></li>
    <li (click)="stService.scroll('indeterminateSwitch')"><a class="normal-case"># Indeterminate Switch</a></li>
  </ul>
</div>

<ng-template #switch>
  <input type="checkbox" checked class="switch">
</ng-template>

<ng-template #switchWithColors>
  <!-- default -->
  <input type="checkbox" checked class="switch">

  <!-- primary -->
  <input type="checkbox" checked class="switch switch-primary">

  <!-- secondary -->
  <input type="checkbox" checked class="switch switch-secondary">

  <!-- tertiary -->
  <input type="checkbox" checked class="switch switch-tertiary">

  <!-- info -->
  <input type="checkbox" checked class="switch switch-info">

  <!-- warning -->
  <input type="checkbox" checked class="switch switch-warning">

  <!-- success -->
  <input type="checkbox" checked class="switch switch-success">

  <!-- error -->
  <input type="checkbox" checked class="switch switch-error">
</ng-template>

<ng-template #switchSizes>
  <!-- small -->
  <input type="checkbox" checked class="switch switch-sm">

  <!-- default -->
  <input type="checkbox" checked class="switch switch-md">

  <!-- large -->
  <input type="checkbox" checked class="switch switch-lg">

  <!-- xl -->
  <input type="checkbox" checked class="switch switch-xl">
</ng-template>

<ng-template #disabledSwitch>
  <input type="checkbox" disabled class="switch">
  <input type="checkbox" checked disabled class="switch">
</ng-template>

<ng-template #IndeterminateSwitch>
  <div class="switch after:left-[calc(50%-0.875rem/2)]"></div>
</ng-template>