<div class="card px-24 py-32 mb-4">
  <h1 class="font-bold">Checkbox</h1>
  <h4>Denotes the current state of an element and is used for multiple choices</h4>
</div>

<div class="flex flex-col gap-2">
  <app-tabs
    [putCard]="'yes'"
    [variantName]="'Checkbox'"
    [preview]="checkbox"
    [htmlCode]="snippets['checkbox'].htmlCode"
    [jsxCode]="snippets['checkbox'].jsxCode" >
  </app-tabs>
  <app-tabs
    [putCard]="'yes'"
    [variantName]="'Checkbox with colors'"
    [preview]="checkboxWithColors"
    [htmlCode]="snippets['checkbox with colors'].htmlCode"
    [jsxCode]="snippets['checkbox with colors'].jsxCode" >
  </app-tabs>
  <app-tabs
    [putCard]="'yes'"
    [variantName]="'Checkbox with different sizes'"
    [preview]="checkboxWithDifferentSizes"
    [htmlCode]="snippets['checkbox with different sizes'].htmlCode"
    [jsxCode]="snippets['checkbox with different sizes'].jsxCode" >
  </app-tabs>
  <app-tabs
    [putCard]="'yes'"
    [variantName]="'Disabled Checkbox'"
    [preview]="disabledCheckbox"
    [htmlCode]="snippets['disabled checkbox'].htmlCode"
    [jsxCode]="snippets['disabled checkbox'].jsxCode" >
  </app-tabs>
  <app-tabs
    [putCard]="'yes'"
    [variantName]="'Indeterminate Checkbox'"
    [preview]="indeterminateCheckbox"
    [htmlCode]="snippets['indeterminate checkbox'].htmlCode"
    [jsxCode]="snippets['indeterminate checkbox'].jsxCode" >
  </app-tabs>
</div>

<ng-template #checkbox>
  <input type="checkbox" checked class="check" />
</ng-template>

<ng-template #checkboxWithColors>
  <!-- default -->
  <input type="checkbox" checked class="check" />

  <!-- primary -->
  <input type="checkbox" checked class="check check-primary" />

  <!-- secondary -->
  <input type="checkbox" checked class="check check-secondary" />

  <!-- tertiary -->
  <input type="checkbox" checked class="check check-tertiary" />

  <!-- info -->
  <input type="checkbox" checked class="check check-info" />

  <!-- warning -->
  <input type="checkbox" checked class="check check-warning" />

  <!-- success -->
  <input type="checkbox" checked class="check check-success" />

  <!-- error -->
  <input type="checkbox" checked class="check check-error" />
</ng-template>

<ng-template #checkboxWithDifferentSizes>
  <!-- small -->
  <input type="checkbox" checked class="check check-sm" />

  <!-- default -->
  <input type="checkbox" checked class="check check-md" />

  <!-- large -->
  <input type="checkbox" checked class="check check-lg" />

  <!-- xl -->
  <input type="checkbox" checked class="check check-xl" />
</ng-template>

<ng-template #disabledCheckbox>
  <input type="checkbox" disabled class="check" />
  <input type="checkbox" disabled checked class="check" />
</ng-template>

<ng-template #indeterminateCheckbox>
  <div class="check border-x-[4px] border-y-[9px] border-tertiary bg-tertiary-10"></div>
</ng-template>