<div class="flex flex-row">
  <!-- main content -->
  <div class="flex-1 max-w-[calc(100%-26rem)] pl-4 py-4">
    <div class="card px-24 py-32 mb-4">
      <h1 class="font-bold">Card</h1>
      <h4>Used to contain a group of elements</h4>
    </div>
    
    <div class="flex flex-col gap-2 min-w-full">
      <app-tabs
        [id]="'typicalCard'"
        [putCard]="'no'"
        [variantName]="'Typical Card'"
        [preview]="typicalCard"
        [htmlCode]="snippets['typical card'].htmlCode"
        [jsxCode]="snippets['typical card'].jsxCode" >
      </app-tabs>
      <app-tabs
        [id]="'typicalHorizontalCard'"
        [putCard]="'no'"
        [variantName]="'Typical horizontal Card'"
        [preview]="typicalHorizontalCard"
        [htmlCode]="snippets['typical horizontal card'].htmlCode"
        [jsxCode]="snippets['typical horizontal card'].jsxCode" >
      </app-tabs>
      <app-tabs
        [id]="'outlinedCard'"
        [putCard]="'no'"
        [variantName]="'Outlined Card'"
        [preview]="outlinedCard"
        [htmlCode]="snippets['outlined card'].htmlCode"
        [jsxCode]="snippets['outlined card'].jsxCode" >
      </app-tabs>
      <app-tabs
        [id]="'cardForModal'"
        [putCard]="'no'"
        [variantName]="'Card used for dialogs/modals'"
        [preview]="modalCard"
        [htmlCode]="snippets['modal card'].htmlCode"
        [jsxCode]="snippets['modal card'].jsxCode" >
      </app-tabs>
      <app-tabs
        [id]="'cardInMenu'"
        [putCard]="'no'"
        [variantName]="'Card with Menu Component'"
        [preview]="cardWithMenu"
        [htmlCode]="snippets['card with menu'].htmlCode"
        [jsxCode]="snippets['card with menu'].jsxCode" >
      </app-tabs>
    </div>
  </div>

  <!-- side content -->
  <ul class="basis-[26rem] h-[calc(100vh-4.25rem)] sticky top-[calc(4.25rem)] menu overflow-y-auto">
    <li (click)="stService.scroll('typicalCard')"><a class="normal-case"># Typical Card</a></li>
    <li (click)="stService.scroll('typicalHorizontalCard')"><a class="normal-case"># Typical horizontal Card</a></li>
    <li (click)="stService.scroll('outlinedCard')"><a class="normal-case"># Outlined Card</a></li>
    <li (click)="stService.scroll('cardForModal')"><a class="normal-case"># Card used for dialogs/modals</a></li>
    <li (click)="stService.scroll('cardInMenu')"><a class="normal-case"># Card with Menu Component</a></li>
  </ul>
</div>

<ng-template #typicalCard>
  <div class="flex justify-center">
    <div class="card w-[32rem]">
      <!-- card thumbnail -->
      <div class="image image-card" style="--image-url: url('https://images.pexels.com/photos/841228/pexels-photo-841228.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');"></div>
  
      <!-- card body -->
      <div class="card-body layout-spaced">
        <h5 class="card-title">Mechanical Keyboard</h5>
        <p>Take a look at some of the clicky, thocky and weird mechanical keyboards only here on KBD!</p>
      </div>
  
      <!-- card actions -->
      <div class="card-actions justify-end">
        <button class="btn">shop now</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #typicalHorizontalCard>
  <div class="flex justify-center">
    <div class="card card-horizontal w-[38rem] h-[16rem]">
      <!-- card image -->
      <div class="image image-card" style="--image-url: url('https://img.freepik.com/free-photo/top-view-beautiful-music-concept_23-2148605827.jpg?w=826&t=st=1691481090~exp=1691481690~hmac=24227de354ba4da1cb13fce1e1981530adf63decc40bcd8fa94a9b0a5bc23186')"></div>

      <div class="flex flex-col justify-between">
        <!-- card body -->
        <div class="card-body layout-spaced">
          <h4 class="card-title">Mix Playlist</h4>
          <p>Play our recommended music based on what you play</p>
        </div>

        <!-- card actions -->
        <div class="card-actions justify-end">
          <button class="btn">Shuffle</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #outlinedCard>
  <div class="flex justify-center">
    <div class="card card-outline w-[32rem]">
      <!-- card thumbnail -->
      <div class="image image-card" style="--image-url: url('https://images.pexels.com/photos/841228/pexels-photo-841228.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');"></div>

      <!-- card body -->
      <div class="card-body layout-spaced">
        <h5 class="card-title">Mechanical Keyboard</h5>
        <p>Take a look at some of the clicky, thocky and weird mechanical keyboards only here on KBD!</p>
      </div>

      <!-- card actions -->
      <div class="card-actions justify-end">
        <button class="btn">shop now</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalCard>
  <div class="flex justify-center">
    <div class="card w-[26.25rem]">
      <!-- card body -->
      <div class="card-body">
        <h4 class="card-title">Move to Archive?</h4>
        <span>You can restore this back on Archives.</span>
      </div>
    
      <!-- card actions -->
      <div class="card-actions justify-end">
        <button class="btn btn-ghost">No</button>
        <button class="btn">Yes</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #cardWithMenu>
  <div class="flex justify-center">
    <div class="card">
      <!-- menu component -->
      <ul class="menu">
        <li><a>Item 1</a></li>
        <li><a>Item 2</a></li>
        <li><a>Item 3</a></li>
      </ul>
    </div>
  </div>
</ng-template>