<div [ngClass]="{ 'xl:drawer-open' : !isHomepage() }" class="drawer">
  <input class="drawer-toggle" type="checkbox" id="myDrawer"/>
  <div class="drawer-page-content">
    <!-- page content -->
    <app-navbar></app-navbar> <!-- the navbar -->
    <div [ngClass]="{ 'p-4' : !isHomepage() }">
      <router-outlet (deactivate)="scrollToTop()"></router-outlet>
    </div>
  </div>

  <div *ngIf="!isHomepage()" class="drawer-sidebar">
    <div class="drawer-sidebar-content">
      <!-- a portion of navbar of sorts -->
      <div class="bg-tertiary-80 w-full h-[4.25rem] hidden xl:block">
        <ul class="menu menu-horizontal">
          <li>
            <a routerLink="/home">
              Almost Material
            </a>
          </li>
        </ul>
      </div>

      <!-- sidebar content -->
      <ul class="menu menu-sm xl:!h-[calc(100%-4.25rem)]">
        <!-- upper drawer links -->
        <li *ngFor="let link of upperDrawerLinks">
          <a routerLink="{{ link.route }}" routerLinkActive="menu-active">{{ link.name }}</a>
        </li>
        <div class="divider"></div>

        <!-- lower drawer links -->
        <ng-container *ngFor="let section of lowerDrawerLinks">
          <span class="menu-title">{{ section.title }}</span>
          <li>
            <ul>
              <li *ngFor="let link of section.routes">
                <a routerLink="{{ link.route }}" routerLinkActive="menu-active">{{ link.name }}</a>
              </li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </div>

    <label class="drawer-overlay" for="myDrawer"></label>
  </div>
</div>