<div class="flex flex-row">
  <!-- main content -->
  <div class="flex-1 max-w-full lg:max-w-[calc(100%-26rem)] px-4 lg:pr-0 py-4">
    <div class="card p-10 md:px-24 md:py-32 mb-4">
      <span class="font-bold text-[3rem] md:text-[4.5rem] lg:text-[6rem]">Swap</span>
      <p class="text-[1rem] md:text-[1.25rem] lg:text-[1.5rem]">Swaps two elements to represent states in more detail</p>
    </div>
    
    <div class="flex flex-col gap-4 md:gap-2">
      <app-tabs
        [id]="'swap'"
        [putCard]="'yes'"
        [variantName]="'Swap'"
        [preview]="swap"
        [htmlCode]="snippets['swap'].htmlCode"
        [jsxCode]="snippets['swap'].jsxCode" >
      </app-tabs>
      <app-tabs
        [id]="'swapFade'"
        [putCard]="'yes'"
        [variantName]="'Swap with fade effect'"
        [preview]="swapFade"
        [htmlCode]="snippets['swap fade'].htmlCode"
        [jsxCode]="snippets['swap fade'].jsxCode" >
      </app-tabs>
      <app-tabs
        [id]="'swapRotate'"
        [putCard]="'yes'"
        [variantName]="'Swap with rotate effect'"
        [preview]="swapRotate"
        [htmlCode]="snippets['swap rotate'].htmlCode"
        [jsxCode]="snippets['swap rotate'].jsxCode" >
      </app-tabs>
    </div>
  </div>

  <!-- side content -->
  <ul class="hidden lg:block basis-[26rem] h-[calc(100vh-4.25rem)] sticky top-[calc(4.25rem)] menu overflow-y-auto">
    <li (click)="stService.scroll('swap')"><a class="normal-case"># Swap</a></li>
    <li (click)="stService.scroll('swapFade')"><a class="normal-case"># Swap with fade effect</a></li>
    <li (click)="stService.scroll('swapRotate')"><a class="normal-case"># Swap with rotate effect</a></li>
  </ul>
</div>

<ng-template #swap>
  <label class="swap">
    <input type="checkbox" />
    <span class="swap-off">Click me</span>
    <span class="swap-on">Why</span>
  </label>
</ng-template>

<ng-template #swapFade>
  <label class="swap swap-fade">
    <input type="checkbox" />
    <span class="swap-off">Off</span>
    <span class="swap-on">On</span>
  </label>
</ng-template>

<ng-template #swapRotate>
  <label class="swap swap-rotate">
    <input type="checkbox" />
    <span class="swap-off">
      <span class="material-icons-round">
        light_mode
      </span>
    </span>
    <span class="swap-on">
      <span class="material-icons-round">
        dark_mode
      </span>
    </span>
  </label>
</ng-template>