<div class="min-h-[30rem] md:h-[calc(100vh-4.25rem)] px-4 md:px-20 flex flex-col justify-center items-center text-center">
  <span class="font-bold text-[3rem] md:text-[4.5rem] lg:text-[6rem]">Almost Material UI</span>
  <h4 class="flex gap-2 flex-row justify-center items-center text-[1rem] md:text-[1.25rem] lg:text-[1.5rem]">
    <span>-</span>
    <span>A component library for TailwindCSS heavily based on Material 3</span>
    <span>-</span>
  </h4>

  <a routerLink="/documentation/how-to-install" class="btn btn-warning btn-sm lg:btn-md mt-6">
    <span class="material-icons-round">
      library_books
    </span>
    Get Started
  </a>
</div>

<div class="bg-tertiary-80 min-h-[30rem] py-4 md:py-0 md:h-screen px-4 md:px-20 flex flex-col justify-center items-center text-center">
  <span class="text-[3rem] md:text-[4.5rem] lg:text-[6rem]">Build your websites much faster!</span>
  <h4 class="flex gap-2 flex-row justify-center items-center text-[1rem] md:text-[1.25rem] lg:text-[1.5rem]">
    <span>-</span>
    <span>
      <h4 class="text-[1rem] md:text-[1.25rem] lg:text-[1.5rem]">You don't need to create UI components for yourself. <b>Almost Material UI</b> has built-in components for you</h4>
    </span>
    <span>-</span>
  </h4>
  <a routerLink="/documentation/button" class="btn btn-warning btn-sm lg:btn-md mt-6">
    <span class="material-icons-round">
      library_books
    </span>
    See Components
  </a>
</div>