<div class="min-h-[30rem] h-[calc(100vh-4.25rem)] px-20 flex flex-col justify-center items-center text-center">
  <h1 class="font-bold">Almost Material UI</h1>
  <h4 class="flex gap-2 flex-row justify-center items-center">
    <span>-</span>
    <span>A component library for TailwindCSS heavily based on Material 3</span>
    <span>-</span>
  </h4>

  <a href="/documentation/how-to-install" class="btn btn-warning mt-6">
    <span class="material-icons-round">
      library_books
    </span>
    Get Started
  </a>
</div>

<div class="bg-tertiary-80 min-h-[30rem] h-screen px-20 flex flex-col justify-center items-center text-center">
  <h1>Build your websites much faster!</h1>
  <h4 class="flex gap-2 flex-row justify-center items-center">
    <span>-</span>
    <span>
      <h4>You don't need to create UI components for yourself. <b>Almost Material UI</b> has built-in components for you</h4>
    </span>
    <span>-</span>
  </h4>
  <a href="/documentation/button" class="btn btn-warning mt-6">
    <span class="material-icons-round">
      library_books
    </span>
    See Components
  </a>
</div>