<div class="flex flex-row">
  <!-- main content -->
  <div class="flex-1 max-w-[calc(100%-26rem)] pl-4 py-4">
    <div class="card px-24 py-32 mb-4">
      <h1 class="font-bold">Badge</h1>
      <h4>Represents the status or notification of the underlying element</h4>
    </div>
    
    <div class="flex flex-col gap-2">
      <app-tabs
        [id]="'badge'"
        [putCard]="'yes'"
        [variantName]="'Badge'"
        [preview]="badge"
        [htmlCode]="snippets['badge'].htmlCode"
        [jsxCode]="snippets['badge'].jsxCode" >
      </app-tabs>
      <app-tabs
        [id]="'outlinedBadge'"
        [putCard]="'yes'"
        [variantName]="'Outlined Badge'"
        [preview]="outlinedBadge"
        [htmlCode]="snippets['outlined badge'].htmlCode"
        [jsxCode]="snippets['outlined badge'].jsxCode" >
      </app-tabs>
      <app-tabs
        [id]="'badgeNoText'"
        [putCard]="'yes'"
        [variantName]="'Badge without text'"
        [preview]="badgeWithoutText"
        [htmlCode]="snippets['badge without text'].htmlCode"
        [jsxCode]="snippets['badge without text'].jsxCode" >
      </app-tabs>
      <app-tabs
        [id]="'badgeWithColors'"
        [putCard]="'yes'"
        [variantName]="'Badge in different colors'"
        [preview]="badgeInColors"
        [htmlCode]="snippets['badge in different colors'].htmlCode"
        [jsxCode]="snippets['badge in different colors'].jsxCode" >
      </app-tabs>
      <app-tabs
        [id]="'badgeSizes'"
        [putCard]="'yes'"
        [variantName]="'Badge in different sizes'"
        [preview]="badgeSizes"
        [htmlCode]="snippets['badge in different sizes'].htmlCode"
        [jsxCode]="snippets['badge in different sizes'].jsxCode" >
      </app-tabs>
    </div>
  </div>

  <!-- side content -->
  <ul class="basis-[26rem] h-[calc(100vh-4.25rem)] sticky top-[calc(4.25rem)] menu overflow-y-auto">
    <li (click)="stService.scroll('badge')"><a class="normal-case"># Badge</a></li>
    <li (click)="stService.scroll('outlinedBadge')"><a class="normal-case"># Outlined Badge</a></li>
    <li (click)="stService.scroll('badgeNoText')"><a class="normal-case"># Badge without text</a></li>
    <li (click)="stService.scroll('badgeWithColors')"><a class="normal-case"># Badge in different colors</a></li>
    <li (click)="stService.scroll('badgeSizes')"><a class="normal-case"># Badge in different sizes</a></li>
  </ul>
</div>

<ng-template #badge>
  <span class="badge">badge</span>
</ng-template>

<ng-template #outlinedBadge>
  <span class="badge badge-outline">outlined</span>
</ng-template>

<ng-template #badgeWithoutText>
  <span class="badge"></span>
</ng-template>

<ng-template #badgeInColors>
  <!-- default -->
  <span class="badge">default</span>

  <!-- primary -->
  <span class="badge badge-primary">primary</span>

  <!-- secondary -->
  <span class="badge badge-secondary">secondary</span>

  <!-- tertiary -->
  <span class="badge badge-tertiary">tertiary</span>

  <!-- info -->
  <span class="badge badge-info">info</span>

  <!-- warning -->
  <span class="badge badge-warning">warning</span>

  <!-- success -->
  <span class="badge badge-success">success</span>

  <!-- error -->
  <span class="badge badge-error">error</span>
</ng-template>

<ng-template #badgeSizes>
  <!-- small -->
  <span class="badge badge-sm">small</span>

  <!-- default -->
  <span class="badge badge-md">default</span>

  <!-- large -->
  <span class="badge badge-lg">large</span>

  <!-- xl -->
  <span class="badge badge-xl">RAWR</span>
</ng-template>