<div class="flex flex-row">
  <!-- main content -->
  <div class="flex-1 max-w-full lg:max-w-[calc(100%-26rem)] px-4 lg:pr-0 py-4">
    <div class="card p-10 md:px-24 md:py-32 mb-4">
      <span class="font-bold text-[3rem] md:text-[4.5rem] lg:text-[6rem]">Modal</span>
      <p class="text-[1rem] md:text-[1.25rem] lg:text-[1.5rem]">A pop up window that disables other interactions except itself</p>
    </div>
    
    <div class="flex flex-col gap-4 md:gap-2">
      <app-tabs
        [id]="'modal'"
        [putCard]="'yes'"
        [variantName]="'Modal'"
        [preview]="modal"
        [htmlCode]="snippets['modal'].htmlCode"
        [jsxCode]="snippets['modal'].jsxCode" >
      </app-tabs>
      <app-tabs
        [id]="'modalOutside'"
        [putCard]="'yes'"
        [variantName]="'Modal that closes on outside click'"
        [preview]="modalThatClosesOnOutsideClick"
        [htmlCode]="snippets['modal that closes on outside click'].htmlCode"
        [jsxCode]="snippets['modal that closes on outside click'].jsxCode" >
      </app-tabs>
    </div>
  </div>

  <!-- side content -->
  <ul class="hidden lg:block basis-[26rem] h-[calc(100vh-4.25rem)] sticky top-[calc(4.25rem)] menu overflow-y-auto">
    <li (click)="stService.scroll('modal')"><a class="normal-case"># Modal</a></li>
    <li (click)="stService.scroll('modalOutside')"><a class="normal-case"># Modal that closes outside</a></li>
  </ul>
</div>

<ng-template #modal>
  <label for="myModal" class="btn">Click Me</label>

  <input class="modal-toggle" type="checkbox" id="myModal" />
  <div class="modal">
    <div class="modal-content">
      <div class="card w-[26.25rem]">
        <!-- card body -->
        <div class="card-body">
          <h4 class="card-title">Woah a Dialog!</h4>
          <span>Put your own description here that gives more details about this dialog.</span>
        </div>
      
        <!-- card actions -->
        <div class="card-actions justify-end">
          <label for="myModal" class="btn btn-ghost">close</label>
          <label for="myModal" class="btn">ok</label>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalThatClosesOnOutsideClick>
  <label for="myModal1" class="btn">Click Me</label>

  <input class="modal-toggle" type="checkbox" id="myModal1" />
  <div class="modal">
    <div class="modal-content">
      <div class="card w-[26.25rem]">
        <!-- card body -->
        <div class="card-body text-center">
          <h4 class="card-title">Done!</h4>
          <span>Click on outside to close.</span>
        </div>
      </div>

      <!-- the label for closing the modal -->
      <label for="myModal1" class="modal-backdrop"></label>
    </div>
  </div>
</ng-template>