<div class="flex flex-row justify-between items-center px-4 mb-2">
  <h4 class="font-semibold">{{ variantName }}</h4>

  <div class="flex flex-row gap-2">
    <button [ngClass]="{'btn-active' : tabState === 0, 'btn-ghost' : tabState !== 0}" class="btn btn-sm" (click)="showTab(0)">preview</button>
    <button [ngClass]="{'btn-active' : tabState === 1, 'btn-ghost' : tabState !== 1}" class="btn btn-sm" (click)="showTab(1)">HTML</button>
    <button [ngClass]="{'btn-active' : tabState === 2, 'btn-ghost' : tabState !== 2}" class="btn btn-sm" (click)="showTab(2)">JSX</button>
  </div>
</div>

<div *ngIf="putCard === 'yes'" [ngClass]="tabState === 0 ? 'flex' : 'hidden'" class="card gap-2 p-4 flex-wrap justify-center items-center min-h-[5.5rem]">
  <ng-template [ngTemplateOutlet]="preview"></ng-template>
</div>

<ng-template *ngIf="putCard === 'no'" [ngTemplateOutlet]="preview"></ng-template>

<pre [ngClass]="tabState === 1 ? 'block' : 'hidden'" class="card p-4">
<code class="language-html">{{ htmlCode }}</code>
</pre>

<pre [ngClass]="tabState === 2 ? 'block' : 'hidden'" class="card p-4">
<code class="language-jsx">{{ jsxCode }}</code>
</pre>