<div [ngClass]="{ 'bg-transparent' : isHomepage() }" class="navbar"> 
  <!-- navbar start -->
  <div class="navbar-start">
    <ul class="menu menu-horizontal">
      <li *ngIf="!isHomepage()" class="xl:hidden">
        <label for="myDrawer" class="btn btn-ghost btn-circle">
          <span class="material-icons-round">menu</span>
        </label>
      </li>
      <li [ngClass]="{ 'xl:hidden' : !isHomepage() }">
        <a routerLink="/home">
          <span class="hidden sm:inline !text-[1rem]">Almost Material</span>
          <span class="sm:hidden !text-[1rem]">AM</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- navbar end -->
  <div class="navbar-end">
    <ul class="menu menu-horizontal">
      <li *ngIf="isHomepage()">
        <a routerLink="/documentation/how-to-install">
          <span class="material-icons-round">
            library_books
          </span>
          <span class="hidden sm:inline !text-[1rem]">Docs</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/Cramzzzberry/almost-material-plugin" target="_blank" class="btn btn-outline">
          <fa-icon [icon]="faGithub"></fa-icon>
          <span class="hidden sm:inline !text-[1rem]">Github</span>
        </a>
      </li>
    </ul>
  </div>
</div>